:root {
    --main-color: #499fff;
    --background-main-color: #f5f5f5;
    --header-background-color: white;
    --dropdown-background-color: white;
    --text-main-color: #333;
    /* --text-sub-color: #333; */
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    --shadow2: 4px 4px 22px rgb(0, 0, 0, 0.04);
}
